{{#each copy.connections}}
    <div class="row card_model" id={{id}}>
        <div class="col-md-6 verticalDiv">
            <img class="card__image" src={{img}}>
            <p class="img__credit">PERSON/CREDIT</p>
            <p class="img__caption">This is the caption</p>
        </div>
        <div class="col-md-6 verticalDiv">
            <div class="card__content">
                <a href="#" class="btn--primary overline" data-next ='Gianni-1' >
                    <p class="btn__p">The immigration project</p>
                </a>
                <h2 class="title__game">{{title}}</h2>
                {{#each text}}
                    <p>{{{value}}}</p>
                {{/each}}
                {{#each btn}}
                    <a href="#{{next}}" class="btn--primary overline" data-next ={{next}} >
                        <p class="btn__p">{{text}}</p>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
{{/each}}
<div class="row justify-content-center" id="all-steppers">
    {{#each copy.connections}}
        <a href="#{{id}}" class="stepper__a"><div class="stepper" id="stepper-{{id}}"></div></a>
    {{/each}}
    <!--<a href=""><div class="stepper" id="stepper-0"></div></a>-->
    <!--<div class="stepper" id="stepper-1"></div>-->
    <!--<div class="stepper" id="stepper-2"></div>-->
    <!--<div class="stepper" id="stepper-3"></div>-->
    <!--<div class="stepper" id="stepper-4"></div>-->
    <!--<div class="stepper" id="stepper-5"></div>-->
</div>