{{#each copy.connections}}
    <div class="row card_model granni hide" id={{id}}>
        <div class="col-md-6 verticalDiv">
            <img class="card__image" src={{img}}>
            <p class="img__credit">PERSON/CREDIT</p>
            <p class="img__caption">This is the caption</p>
        </div>
        <div class="col-md-6 verticalDiv">
            <div class="card__content">
                <a href="#" class="btn--secondary overline " data-next ='Gianni-1' >
                    <p class="btn__p">THE IMMIGRANT EXPERIENCE</p>
                </a>
                <h2 class="title__game">{{title}}</h2>
                {{#each text}}
                    <p>{{{value}}}</p>
                {{/each}}
                {{#each btn}}
                    <a href="#{{next}}" class="btn--primary overline" data-next ={{next}} >
                        <p class="btn__p">{{text}}</p>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
{{/each}}

<div class="line-processor-bg"></div>
<div class="line-processor"></div>
<!--<div class="row justify-content-center" id="all-steppers">-->
    <!--{{#each copy.connections}}-->
        <!--<a href="#{{id}}" class="stepper__a"><div class="stepper" id="stepper-{{id}}"></div></a>-->
    <!--{{/each}}-->
<!--</div>-->