{{#each copy.connections}}
    <div class="row card_model" id={{id}}>
        <div class="col-md-6 verticalDiv">
            <img class="card__image" src={{img}}>
        </div>
        <div class="col-md-6 verticalDiv">
            <div class="card__content">
                <h2 class="title__game">{{title}}</h2>
                {{#each text}}
                    <p>{{{value}}}</p>
                {{/each}}
                {{#each btn}}
                    <a class="btn--primary overline" data-next ={{next}}>
                        <p class="btn__p">{{text}}</p>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
{{/each}}